<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JLF997B582"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JLF997B582');
</script>

<title>Concerto for public transport orchestra in four movements</title>

<meta http-equiv="Content-Type" content="text/html;  charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Max Alyokhin" />
<meta name="keywords" content="public transport orchestra, DFAP, Max Alyokhin, aleatoric, experimental music" />
<meta name="description" content="Концерт для оркестра общественного транспорта в четырёх частях" />
<meta property="og:type" content="website" />
<meta property="og:url" content="//orchestra.stranno.su" />
<meta property="og:title" content="Concerto for public transport orchestra in four movements" />
<meta property="og:description" content="Концерт для оркестра общественного транспорта в четырёх частях." />
<meta property="og:locale" content="ru_RU" />
<meta property="og:image" content="../favicons/og.png" />
<meta property="og:image:width" content="968" />
<meta property="og:image:height" content="504" />
<meta name="msapplication-TileColor" content="#fafafa" />
<meta name="theme-color" content="#fafafa" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://orchestra.stranno.su/img/favicons/og.png" />

<link rel="icon" href="img/favicons/favicon.svg" sizes="any" type="image/svg+xml" />
<link rel="stylesheet" href="styles/style.min.css" type="text/css" />

<script src="scripts/main.min.js"></script>
