<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115448094-3"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'UA-115448094-3')
</script>

<title>The Krasnodar Public Transport Orchestra — The Chorus of Machines</title>

<meta http-equiv="Content-Type" content="text/html;  charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="The Krasnodar Public Transport Orchestra, Краснодарский Оркестр Общественного Транспорта, Max Alyokhin, Макс Алёхин, microtonal, aleatoric, микротональная музыка, алеаторика" />
<meta name="description" content="The Krasnodar Public Transport Orchestra | Краснодарский Оркестр Общественного Транспорта" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="The Krasnodar Public Transport Orchestra" />
<meta property="og:url" content="https://orchestra.stranno.su" />
<meta property="og:title" content="The Krasnodar Public Transport Orchestra" />
<meta property="og:description" content="The Krasnodar Public Transport Orchestra | Краснодарский Оркестр Общественного Транспорта" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:image" content="https://orchestra.stranno.su/img/favicons/og.png" />
<meta property="og:image:width" content="968" />
<meta property="og:image:height" content="504" />
<meta name="msapplication-TileColor" content="#fafafa" />
<meta name="theme-color" content="#fafafa" />

<link rel="icon" href="https://orchestra.stranno.su/img/favicons/favicon.svg" sizes="any" type="image/svg+xml" />
<link rel="stylesheet" href="styles/style.min.css" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

<script src="scripts/current-device.js"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="scripts/main.js" type="module"></script>
